.git
.github
.idea
.vscode
node_modules
vendor
public/storage
public/videos
public/audio
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
Dockerfile
nginx.conf
render.yaml
.env
npm-debug.log
yarn-error.log
.phpunit.result.cache
